<!-- Template for pracc.cgi/ -->
<!-- Variables: standard, see pracc.cgi/vars -->

<h2>Welcome</h2>

<p>Pracc is the printer accounting system at PHZ Luzern.<br>
 Use these web pages to administer Pracc.</p>

<table border="0" cellspacing="0"><tbody><tr>
<td class="box" valign="top"><h3>Administration</h3>
<p>Important Tools:</p>
<ul>
<li><a class="oplnk" href="{SCRIPT}/admin?op=credits">Credits</a></li>
<li><a class="oplnk" href="{SCRIPT}/accounts">Manage accounts</a></li>
<li><a class="oplnk" href="{SCRIPT}/reports">Reports</a> (by year, etc)</li>
</ul>
<p>All functionality is available<br/>
 through the &quot;Tabs&quot; above.</p>
</td>
<td width="5%"></td>
<td class="box" valign="top"><h3>Documentation</h3>
<p><a href="{SCRIPT}/pracc-about.html">pracc-about.html</a><br>
<a href="{SCRIPT}/pracc-files.html">pracc-files.html</a><br>
<a href="{SCRIPT}/pracc-tools.html">pracc-tools.html</a><br>
<a href="{SCRIPT}/cupspracc.html">cupspracc.html</a><br>
<a href="{SCRIPT}/counting.html">counting.html</a><br>
<a href="{SCRIPT}/praccapi.html">praccapi.html</a><br>
<a href="{SCRIPT}/lowlevel.html">lowlevel.html</a><br>
<a href="{SCRIPT}/security.html">security.html</a></p>
</td>
<td width="5%"></td>
<td valign="top"><h3>System info</h3>
<p>Host: <b>{HOSTNAME}</b><br>
Date: <b>{YEAR}-{MONTH>9?:0}{MONTH}-{DAY>9?:0}{DAY}</b><br>
Time: <b>{TIME}</b></p>
<p>You: <b>{REMOTE_USER?<a href="{SCRIPT}/user">{REMOTE_USER}</a>:n/a}</b><br>
Me: <b>{USER?{USER}:n/a}</b> #{UID}</p>
<p><a href="{SCRIPT}/vars">Show variables</a></p>
</td>
</tr></tbody></table>
