<!-- Template for pracc.cgi/logs -->
<!-- Variables: standard, see pracc.cgi/vars -->

<h2>Pracc Log Files</h2>

<p><b>Accounting log:</b>
 <a class="btn" href="{SCRIPT}/logs/pracc">view</a> or
 <a class="btn" href="{SCRIPT}/logs/pracc.log">download</a></p>
<p>The accounting log records all changes made
to printing accounts, except printouts.</p>

<p><b>Pagecount log:</b>
 <a class="btn" href="{SCRIPT}/logs/pclog">view</a> or
 <a class="btn" href="{SCRIPT}/logs/pc.log">download</a></p>
<p>The pagecount log keeps track of the printer's
pagecount register and can be used for statistics
and maintenance of the printers. Note that not all
printers make pagecount information available.
The pagecount log is optional and might not exist,
but if it does, it probably is <strong>huge</strong>.</p>

